html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 10px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 26px;
  color: darkblue;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 50px;
  opacity: 0.5;
  box-shadow: 2px 2px 15px white;
}
input {
  display: block;
  min-width: 472px;
  text-align: center;
  color: darkblue;
  font-size: 26px;
  margin-bottom: 50px;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 2px 2px 15px white;
}
.search-form {
  display: flex;
  margin-top: 25px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.stats-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-icons {
  padding-right: 5px;
}
